# <font color = 'purple' > Módulo 6 - Apply, Map, Lambda </font>

In [13]:
import pandas as pd

/home/user/.pyenv/versions/3.8.0/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## 1.0 Lambda

<font color = blue > outra maneira de escrever função. Não usar para códigos complexos

In [1]:
f_calculation = lambda a,b: a+b

In [3]:
f_calculation(5, 2)

7

## 2.0 Map

<font color = blue > aplica uma função em todas as estrutura do dado (linha, coluna ou lista)

In [5]:
col_old = ['SORTE', 'AzAr', 'PEpiNo', 'PeOlO']

In [7]:
snakecase = lambda x : x.lower() #lower para transformar em lowercase

list(map(snakecase, col_old ))

['sorte', 'azar', 'pepino', 'peolo']

In [9]:
# Exemplo 2:

lista = [1,2,3]

soma = lambda x: x + 1

list(map(soma, lista))

[2, 3, 4]

In [22]:
#Exemplo 3:
df = {'nome': ['Rayane', 'Carol', 'Paulo', 'Myllena', 'Rovena', 'Caru'],
       'idade': [26,26,26,25,27,26]}

df = pd.DataFrame(df)

idade_nova = lambda x : x + 2

df['new_idade'] = list(map(idade_nova, df['idade']))

df

      nome  idade  new_idade
0   Rayane     26         28
1    Carol     26         28
2    Paulo     26         28
3  Myllena     25         27
4   Rovena     27         29
5     Caru     26         28

## 3.0 Função Apply 

<font color = 'blue' > map e apply possuem a mesma função, porém o apply é do pandas

In [25]:
idade_nova2 = lambda x : x + 6
df['new_idade2'] = df['idade'].apply(idade_nova2) 

df

      nome  idade  new_idade  new_idade2
0   Rayane     26         28          32
1    Carol     26         28          32
2    Paulo     26         28          32
3  Myllena     25         27          31
4   Rovena     27         29          33
5     Caru     26         28          32